<div class="container">
  <div class="row">
    <div class="alert alert-success">You're an admin</div>

      <%= render 'admin/recap' %>

    </div>

    <div class="row">
      <hr>
    </div>

    <%= render 'admin/user_activity' %>

</div>