<div class="row" align="center">
<div class="jumbotron">
  <h1>Track your<br>Audience Rewards<br>Comp Time</h1>
</div>
  <div class="col-md-6">
    <%= link_to content_tag(:i, '', class: ['fa', 'fa-user', 'fa-10x']), new_user_session_path %><br>
    <%= link_to "Sign In", new_user_session_path %><br><br>
  </div>
  <div lass="col-md-6">
    <%= link_to content_tag(:i, '', class: ['fa', 'fa-user-plus', 'fa-10x']), new_user_registration_path %><br>
    <%= link_to "Create a new account", new_user_registration_path %>
  </div>
</div>
<div class="row lead" align="center">
  This site was created as, and will probably remain, a work in progress.
</div>